{% extends 'base/base.html'%}

{%block content%}
<div class="container">

  {% if validlink %}
    <p> Please enter your new password</p>
    <form class="" action="" method="post">
      {%csrf_token%}
        <table>
          <tr>
            <td>{{from.new_password1.errors}}
              <label for="id_new_password1">New Password</label></td>
              <td>{{form.new_password1}}</td>
          </tr>
          <tr>
            <td>{{from.new_password2.errors}}
              <label for="id_new_password2">New Password</label></td>
              <td>{{form.new_password2}}</td>
          </tr>
          <tr>

              <td><input type="submit" name="" value="Change my Password"></td>
          </tr>
        </table>

    </form>
{%else%}
<h2> Password Reset Failed</h2>
<p> Linl is invalid. Please request a new password reset.</p>
<p> Someone asked for password reset for email {{email}}. Click the link below:
{{protocol}}://{{domain}}{%url 'password_reset_confirm' uidb64=uid token=token%} </p>
<a href="{%url 'login'%}"><input class= "btn btn-primary mb-5" type="button" name="login" value="login"></a>
{% endif %}
</div>
{%endblock%}
